<h1><a href="<%= @item.path %>"><%= @item[:title] %></a></h1>

<ul class="meta">
  <li class="published">
    <%= change_date @item %>
  </li>
  <li class="author">
    <a href="https://dribbble.com/<%= @item[:author] %>"><%= name_for(@item[:author]) %></a>
  </li>
</ul>
