<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= @item[:title] %><%= @title_suffix %></title>

  <link href="/css/application.css" rel="stylesheet" type="text/css">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="alternate" type="application/atom+xml" title="API Changes" href="/changes.atom">
</head>
<body>

<header>
  <div class="container">
    <h1>
      <a href="http://dribbble.com" id="logo">Dribbble</a>
      <span id="logo-meta"><a href="/">Developer</a></span>
    </h1>

    <nav>
      <ul>
        <li><a href="/v1/"<%= %{ class="active"} if @active == "api" %>>API</a></li>
        <li><a href="/terms/"<%= %{ class="active"} if @active == "terms" %>>Terms &amp; Guidelines</a></li>
        <li><a href="/changes/"<%= %{ class="active"} if @active == "changes" %>>Changes</a></li>
        <li><a href="http://dribbble.com/contact?api">Support</a></li>
      </ul>
    </nav>
  </div>
</header>
